  *{
    margin: 0;
    padding: 0;
    font-family:'Ubuntu', sans-serif;

}
body{
    background-color:#3F72AF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* container of to-do list */
.container {
  width: 600px;
  height: 400px auto;
  background-color: #F9F7F7;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}
/* heading of to-do list  */
.heading{
   text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task_input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.task_input input[type="text"]{
    background-color:#DBE2EF;
     border: 1px solid rgba(177, 177, 177, 0.4); 
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
    width: 200px;
    height: 34px;
    border-right: none;
    outline: none;
    box-sizing: border-box;
}
 
.task_input button{
    width: 45px;
    height: 34px;
    background: #AAAAAA;
    border: 1px solid rgba(177, 177, 177, 0.4);
    border-left: none; 
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
    transition: background 0.3s;
   
}

.task_input button:hover {
    background: #2a5a94; 
}
 #task_list li {
    height: 55px;
    width: 100%;
    color: #3F72AF; 
    background-color: #DBE2EF;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 10px;
} 

#task_list li i {
    color: red;
}

.complete{
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}
 